/* General Rules ############################## */

:root {
    --bg: #2B2A33;
    --text: #D8DEE9;
    --extra: hsl(222deg 14% 17%);
    --random: hsl(222deg 14% 25%);
    
    --random-color: #fff;
    
    --grey: #D8DEE9;
    --ice: #4C566A;
    --red: #BF616A;
    --orange: #D08770;
    --green: #A3BE8C;
    --blue: #5E81AC;
    --purple: #B48EAD;
    --yellow: #EBCB8B;
}
:root [data-palette="rainbow"] {
--color-1: var(--red);
--color-2: var(--orange);
--color-3: var(--yellow);
--color-4: var(--green);
--color-5: var(--blue);
--color-6: var(--purple);
}
:root [data-palette="random"] {
--color-1: var(--random-color);
--color-2: var(--random-color);
--color-3: var(--random-color);
--color-4: var(--random-color);
--color-5: var(--random-color);
--color-6: var(--random-color);
}
:root [data-palette="ice"] {
--color-1: var(--ice);
--color-2: var(--ice);
--color-3: var(--ice);
--color-4: var(--ice);
--color-5: var(--ice);
--color-6: var(--ice);
}
:root [data-palette="red"] {
--color-1: var(--red);
--color-2: var(--red);
--color-3: var(--red);
--color-4: var(--red);
--color-5: var(--red);
--color-6: var(--red);
}
:root [data-palette="orange"] {
--color-1: var(--orange);
--color-2: var(--orange);
--color-3: var(--orange);
--color-4: var(--orange);
--color-5: var(--orange);
--color-6: var(--orange);
}
:root [data-palette="green"] {
--color-1: var(--green);
--color-2: var(--green);
--color-3: var(--green);
--color-4: var(--green);
--color-5: var(--green);
--color-6: var(--green);
}
:root [data-palette="blue"] {
--color-1: var(--blue);
--color-2: var(--blue);
--color-3: var(--blue);
--color-4: var(--blue);
--color-5: var(--blue);
--color-6: var(--blue);
}
:root [data-palette="purple"] {
--color-1: var(--purple);
--color-2: var(--purple);
--color-3: var(--purple);
--color-4: var(--purple);
--color-5: var(--purple);
--color-6: var(--purple);
}
:root [data-palette="yellow"] {
--color-1: var(--yellow);
--color-2: var(--yellow);
--color-3: var(--yellow);
--color-4: var(--yellow);
--color-5: var(--yellow);
--color-6: var(--yellow);
}
html, body {
width: 100%;
height: 100vh;
margin: 0;
padding: 0;
outline: none;
display: flex;
justify-content: center;
}
main {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
}
* {
    font-family: 'Roboto Mono';
    text-decoration: none;
    transition: .1s;
    font-size:16px;
    color: inherit;
    text-decoration: none;
}

/* Stock Ticker ############################### */

@keyframes ticker-scroll {
    0% {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        visibility: visible;
   }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
   }
}
.ticker-wrap {
    display: flex;
    overflow: hidden;
    height: 2.5ex;
    padding: 0.5ex 0.5ex;
    justify-content: center;
    align-items: center;
    border: 0.4ex solid;
    margin-top: 1ex;
    border-color: var(--color-1);
    border-radius: 1ex;

}
.ticker-wrap .ticker {
    height: 2ex;
    line-height: 2ex;
    white-space: nowrap;
}

.ticker-scroll {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker-scroll;
    animation-duration: 8s;
    float: right;
}
.ticker-wrap .ticker__item {
    display: inline-block;
}

.ticker__item{
    width: max-content;
    padding-right: 2ex;
    padding-left: 2ex;
}

.ticker{
    position: relative;
    display: flex;
    box-sizing: content-box;
    background: none;
}

/* Show Last Stock Update When Hovering */
.ticker:hover .update{
    display : block;
    margin-left: 0%;
}
.ticker:hover .ticker-scroll{
    display : none;
}
.update{ 
    display: none;
    background-color: var(--bg) !important;
    }

/* Clock #####################################*/

.clock{
    margin-right: 1ex;
    float: left;
    width: 7ex;
    }

/* Container ##################################*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 62ex;
}

/* Weather #################################### */

#weather {
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.5ex;
    padding-left: 2ex;
    padding-right: 2ex;
    overflow-x: hidden;
}

/* Tabs ####################################### */

.tabs {
    display: flex;
}
.tab.next {
    margin-right: 0ex;
}
.tab:last-child {
    margin-right: 0ex;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fill-available;
    width: -moz-available;
    height: 4ex;
    cursor: default;
    border-radius: 1ex;
    margin-bottom: 1ex;
    margin-right:1ex;
}
.tab.notVisible {
    display: none;
}
.tab.space {
    flex-grow: 1;
}
body[data-page="1"] .tab.extra.back,
body[data-page="3"] .tab.extra.next {
    visibility: hidden;
}
body:not([data-page="1"]) .tab.extra.back:hover,
body:not([data-page="3"]) .tab.extra.next:hover {
    cursor: pointer;
}

/* Content #################################### */

.content {
    display: none;
    flex-direction: column;
    padding: 1ex 1ex;
    border: 0.4ex solid;
    border-radius: 1ex;
}
.content.active {
    display: flex;
}
.content > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5ex 1ex;
    cursor: pointer;
    height: 2ex;
}
.content.info {
    padding: 0.5ex 2ex;
    justify-content: center;
    align-items: center;
    margin-top: 1ex;
}
.info {
    height: 2.5ex;
    display: flex;
}

.linksel {
    border-radius: 0.5ex;
    margin-top: 0.4ex;
    margin-bottom:0.4ex;
 }

/* Palette #################################### */

.palette {
display: flex;
justify-content: center;
margin: 2ex;
}
.palette-content {
display: flex;
justify-content: center;
cursor: pointer;
opacity: 0;
transition: .3s;
}
.palette div[data-color] {
padding-bottom: 0.2ex;
border-bottom: 0.5ex solid transparent;
}
.palette div span {
display: flex;
justify-content: center;
width: 2ex;
height: 2ex;
border-radius: 100%;
margin: 0.2ex;
}

body {
background-color: var(--bg);
color: var(--text);
}

body:not([data-page="1"]) .tab.extra.back:hover,
body:not([data-page="3"]) .tab.extra.next:hover {
background: var(--extra);
}

.content {
border-color: var(--extra);
}

.content > a {
color: var(--text);
}

/* Search ##################################### */

#search {
width: 100%;
height: 100vh;
background-color: var(--bg);
display: none;
position: absolute;
box-sizing: border-box;
flex-direction: column;
align-items: center;
justify-content: center;
}

#search-field {
width: 90%;
padding: 0.75em 1em;
box-sizing: border-box;
background-color: var(--bg);
font-family: 'Roboto Mono';
font-size: 4rem;
color: var(--fg);
outline: none;
border-radius: 0.3ex;
margin-bottom: 1em;
text-align: center;
border:0em;
}

.tab.active[data-color="1"],
.content[data-color="1"] a:hover {
background-color: var(--color-1);
}
.tab.active[data-color="2"],
.content[data-color="2"] a:hover {
background-color: var(--color-2);
}
.tab.active[data-color="3"],
.content[data-color="3"] a:hover {
background-color: var(--color-3);
}
.tab.active[data-color="4"],
.content[data-color="4"] a:hover {
background-color: var(--color-4);
}
.tab.active[data-color="5"],
.content[data-color="5"] a:hover {
background-color: var(--color-5);
}
.tab.active[data-color="6"],
.content[data-color="6"] a:hover {
background-color: var(--color-6);
}
.color {	
    border-color: var(--color-1);
    will-change: border-color;
}
.content[data-color="1"] {	border-color: var(--color-1);}
.content[data-color="2"] {	border-color: var(--color-2);}
.content[data-color="3"] {	border-color: var(--color-3);}
.content[data-color="4"] {	border-color: var(--color-4);}
.content[data-color="5"] {	border-color: var(--color-5);}
.content[data-color="6"] {	border-color: var(--color-6);}

.palette div[data-color="rainbow"] span {
border: 0.6ex solid var(--grey);
box-sizing: border-box;
}
.palette div[data-color="random"] span {	background-color: var(--random);}
.palette div[data-color="ice"] span {	background-color: var(--ice);}
.palette div[data-color="red"] span {	background-color: var(--red);}
.palette div[data-color="orange"] span {	background-color: var(--orange);}
.palette div[data-color="yellow"] span {	background-color: var(--yellow);}
.palette div[data-color="green"] span {	background-color: var(--green);}
.palette div[data-color="blue"] span {	background-color: var(--blue);}
.palette div[data-color="purple"] span {	background-color: var(--purple);}

.palette div.selected[data-color="rainbow"] {	border-color: var(--grey);}
.palette div.selected[data-color="random"] {	border-color: var(--random);}
.palette div.selected[data-color="ice"] {	border-color: var(--ice);}
.palette div.selected[data-color="red"] {	border-color: var(--red);}
.palette div.selected[data-color="orange"] {	border-color: var(--orange);}
.palette div.selected[data-color="yellow"] {	border-color: var(--yellow);}
.palette div.selected[data-color="green"] {	border-color: var(--green);}
.palette div.selected[data-color="blue"] {	border-color: var(--blue);}
.palette div.selected[data-color="purple"] {	border-color: var(--purple);}

/* Mobile ##################################### */

@media screen and (max-width: 640px) {
.tab {
    width: 10ex;
}
}